/* reset styling */
*{
    box-sizing: border-box;
    margin: 0;
}

/* assets */
:root {
    --colortxt-primary: #464a53;
    --colortxt-secondary: #ffffff;
    --colortxt-tertiary: #ced3d7;
    --bgcolor-primary: #f6f8f9;
    --bgcolor-secondary: #ffffff;
    --flagcolor--1: #45abe9;
    --flagcolor--2: #d863a0;
    --flagcolor--3: #6ec5b1;
    --flagcolor--4: #9c72e4;
    --flagcolor--5: #f29e33;
    --flagcolor--6: #b0c926;
    --buttoncolor--selected: #45abe9;
    --buttoncolor--unselected: #ffffff;
}

/* body styling */
body{
    background-color: var(--bgcolor-primary);
}

/* header styling */
header{
    height: 20%;
    background-color: var(--bgcolor-secondary);
    padding: 2rem;
    padding-left: 10rem;
}

figure h1,img{
    vertical-align: middle;
}

figure h1{
    display: inline-block;
    font-size: 50px;
}

/* main styling */

.button_box{
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    background-color: var(--bgcolor-secondary);
    padding: 2rem 3rem;
    border-radius: 5px 5px 0 0;
}

.button_box button{
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
}

#selected{
    background-color: var(--buttoncolor--selected);
    color: var(--colortxt-secondary);
}

#unselected{
    border: 1px solid var(--colortxt-tertiary);
    color: var(--colortxt-tertiary);
    background-color: var(--bgcolor-secondary);
}

/* task area styling */
#task_area{
    width: 60%;
    margin: auto;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
    background-color: var(--bgcolor-secondary);
    padding: 2rem 3rem;
    border-radius: 0 0 5px 5px;
}

#new_task,#today,#upcoming{
    padding: 1rem 0;
}

/* title section styling */
.title_section h1{
    display: inline-block;
    color: var(--colortxt-primary);
    font-size: 30px;
    font-weight: bold;
}

.title_section span{
    color: var(--colortxt-primary);
    font-size: 15px;
    font-weight: bold;
    padding-right: 5px;
}

.title_section h1,span{
    vertical-align: middle;
}

/* flag styling */
.flag_ed{
    color: var(--colortxt-secondary);
    background-color: var(--flagcolor--1);
    border-radius: 20px;
    padding: 5px 10px;
}

.flag_web{
    color: var(--colortxt-secondary);
    background-color: var(--flagcolor--2);
    border-radius: 20px;
    padding: 5px 10px;
}

.flag_sales{
    color: var(--colortxt-secondary);
    background-color: var(--flagcolor--6);
    border-radius: 20px;
    padding: 5px 10px;
}

.flag_mob{
    color: var(--colortxt-secondary);
    background-color: var(--flagcolor--5);
    border-radius: 20px;
    padding: 5px 10px;
}

.flag_q1{
    color: var(--colortxt-secondary);
    background-color: var(--flagcolor--4);
    border-radius: 20px;
    padding: 5px 10px;
}

.flag_recr{
    color: var(--colortxt-secondary);
    background-color: var(--flagcolor--3);
    border-radius: 20px;
    padding: 5px 10px;
}

/* task area styling */

.task #positive_check,#negative_check,p{
    display: inline-block;
}

.task{
    padding: 0.5rem 0;
}

#positive_check{
    padding: 2px 6px;
    margin-right: 5px;
    vertical-align: middle;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}

#negative_check{
    padding: 2px 6px;
    margin-right: 5px;
    vertical-align: middle;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

.task p{
    color: var(--colortxt-primary);
    font-size: 20px;
    vertical-align: middle;
}

p>span{
    margin-left: 5px;
}
